/* party */
#party_div {
	position: relative;
    float: left;
    width: 100%;
}
#party_flag {
	width: 200px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
#party_name {
	float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
}
#party_desc {
	font-style: italic;
    background-color: rgb(218, 218, 218);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    margin-left: 1%;
    margin-top: 10px;
    width: 96%;
    clear: both;
	overflow: hidden;
}
#party_leader {
	position: absolute;
    color: black;
    top: 50px;
    left: 220px;
}
#create_party {
	float: right;
	margin-top: 10px;
	margin-right: 30px;
	margin-bottom: 10px;
	width: 200px !important;
}
#create_blank_party {
    float: left;
    margin-left: 100px;
}

/* party members */
#members_div {
	float: left;
    clear: left;
    width: 100%;
	margin-top: 20px;
}
#party_members_head {
	background-color: rgb(93, 127, 159);
    text-align: center;
    color: white;
    font-size: 20px;
    padding-bottom: 5px;
    float: left;
    width: 100%;
}
.member_div {
	position: relative;
    float: left;
	width: 300px;
    border: 1px solid gray;
    box-shadow: 0px 0px 3px 0px rgb(87,87,87);
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
	margin-bottom: 10px;
}
.member_img {
	width: 115px;
    height: 150px;
    float: left;
}
.member_name {
	color: black;
    margin-left: 10px;
    margin-top: 5px;
    display: inline-block;
}
#party_app_head {
	float: left;
    clear: left;
    margin-left: 10px;
    margin-top: 20px;
}
#view_applications {
	float: left;
    margin-left: 10px;
    margin-top: 15px;
}
#elections_head {
	float: left;
    clear: left;
    margin-top: 30px;
    margin-left: 10px;
}
#view_elections_info {
	float: left;
    margin-top: 25px;
    margin-left: 10px;
}

#dissolve_party, .join_party, .cancel_application {
	position: absolute;
    right: 20px;
    top: 10px;
}
#edit_party {
	position: absolute;
    right: 160px;
    top: 10px;
}
.kick_member, .accept_member, .add_new_candidate {
	position: absolute;
    top: 70px;
    left: 150px;
}
#leave_party {
	position: absolute;
    right: 20px;
    top: 10px;
}
#join_elections, #stop_join {
	width: 150px;
    position: absolute;
    right: 20px;
    top: 65px;
}

#cancel {
	float: left;
    margin-left: 75px;
    margin-bottom: 10px;
}

/* reply */
#reply_info {
	width:550px;
	margin-left: auto;
	margin-right:auto;
	margin-top: 200px;
	background-color:white;
	box-shadow: 0px 2px 5px 2px #345879;
	font-family: Enriqueta;
    font-size: 20px;
	position:relative;
	overflow:auto;
}
#msg {
	font-family: Enriqueta;
    font-size: 25px;
    padding: 5px;
	padding-top: 10px;
}
#reply_ok {
	background-color: rgb(42,169,219);
	float: left;
    clear: left;
    margin-left: 220px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#error {
	font-size: 30px;
    margin-top: 13px;
    margin-left: 30px;
	color: rgb(245, 82, 88) !important;
}
#reply_info span {
	font-size: 40px;
    color: rgb(72, 172, 38);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
}
#show_party_users_apps, #show_cong_candidates {
	width: 700px;
    max-height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 2px 5px 2px #345879;
    font-family: Enriqueta;
    font-size: 20px;
    position: relative;
    overflow: auto;
}
.spua_ok {
    margin-left: 295px !important;
}

/* manage cong candidates*/
#show_cong_candidates {
	width: 620px !important;
}
.candidate_div {
	position: relative;
    float: left;
    width: 260px;
    border: 1px solid gray;
    box-shadow: 0px 0px 3px 0px rgb(87,87,87);
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.pos_num {
	position: absolute;
    top: 33px;
    left: 3px;
    color: white;
    background-color: rgb(76, 175, 80);
    border-radius: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.candidate_name {
	float: left;
    color: black;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(138, 159, 172);
}
.candidate_img {
	width: 115px;
    height: 150px;
    float: left;
    clear: left;
}
.remove_candidate, .move_up_candidate, 
.move_down_candidate {
	float: left;
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#add_candidates {
	position: absolute;
    top: 10px;
    right: 10px;
}
.scc_ok {
	margin-left: 250px !important;
}

/* create party */
#create_party_info {
	width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 2px 5px 2px #345879;
    font-family: Enriqueta;
    font-size: 20px;
    position: relative;
    overflow: hidden;
}
#new_party_name, #new_party_leader {
	font-size: 30px;
    height: 35px;
    width: 475px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: Enriqueta;
    float: left;
    text-align: center;
}
#new_party_desc {
	font-size: 20px;
    height: 230px;
    width: 475px;
    margin-left: 10px;
    margin-bottom: 15px;
    font-family: Enriqueta;
    float: left;
}
#create_new_party, #edit_prty {
	float: left;
    margin-left: 102px;
}
#party_img_info {
	float: left;
    margin-left: 10px;
}
#party_img_upload {
	float: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}

/* dissolve */
#dissolve, .yes_kick, #leave_yes, #stop_participate {
	float: left;
    margin-left: 130px;
}

/* join elections */
#participate {
	float: left;
    margin-left: 185px;
}